/*Header*/

.page_header,
.navigation_wrapper,
.navigation-main,
.brand,
.brand_link,
.toolsbar,
.search {

    margin: 0;
    padding: 0;

}
.page_header {

    display: block;
    width: 100%;
    height: 38px;
    /*padding-top: 0;*/
    margin-bottom: -38px;
    background-color: transparent;

    position: relative;
    z-index: 1;


}

/*  NAVIGATION  */


.navigation_wrapper {

    float: left;
    display: block;
    width: 550px;
    /*border: 4px double black;*/
}

.navigation {

    list-style: none;

    text-align: left;


}

.navigation_item {

    list-style: none;


}

.navigation_link {

    text-decoration: none;
    color: inherit;

}

.navigation-main {

    font-size: 0;
    line-height: 0;
    vertical-align: top;

}

ul {
    padding-left: 3px;
}

.navigation-main .navigation_item {

    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 14px;
    line-height: 38px;
    font-family: "Proxima Nova Regular";
    text-transform: capitalize;
    /*padding-left: 33px;*/


}

.navigation_item .navigation_link:hover {

    font-family: "Proxima Nova Bold";
    color: white;
}

.navigation-main .navigation_link {

    font-size: inherit;
    line-height: inherit;
    color: #ffffff;


}
.navigation-main {
    padding-left: 33px;
}

.navigation-main .navigation_link:hover {

    color: white;

}


/* NAVIGATION  */


/* BRAND */

.brand {

    float: left;
    width: 200px;
    font-size: 24px;
    font-family: "Nautilus Pompilius";
    vertical-align: top;
    color: #ffffff;
    text-align: center;
    /*border: 4px double black;*/

}

.brand_link {

    display: inline-block;
    vertical-align: center;
    text-decoration: none;
    color: inherit;
    /*margin-top: 6px;*/
    padding-top: 6px;
    /*line-height: 0;*/

}

/* SEARCH */
.toolsbar {

    position: relative;
    left: 730px;
    /*left: auto;*/
    /*height: 100%;*/
    vertical-align: middle;

    /*white-space: nowrap;*/
    /*margin: 100px auto;*/
    /*margin-left: auto;*/
    width: 550px;

    height: 50px;
    /*border: 4px double black;*/


}

.search {

    position: absolute;
    right: 0px;
    top: 5px;
    width: 179px;
    height: 27px;
    /*padding-top: 5px;*/

    /*margin-left: auto;*/
}
.toolsbar input#search{
    width: 200px;
    height: 33px;
    background: #d9d7d6;
    border: none;
    opacity: 0.9;
    font-size: 16px;
    font-family: "Proxima Nova Light";
    padding-left: 10px;
    color: #1f2020;
    border-radius: 20px;

}
.search input#search::-webkit-input-placeholder {
    color: #65737e;
 }
.search input#search:-moz-placeholder { /* Firefox 18- */
    /*color: #65737e;*/
}
.search input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}
.search input#search:-ms-input-placeholder {
    color: #65737e;
}
.search .icon_search {
    position: relative;
    /*top: 20px;*/
    bottom: 5%;

    /*border: 4px double black;*/
}
.icon_search {
    position: absolute;
    left: 170px;
    top: 25px;
    color: #434343;
    z-index: 1;
}

