/*Header*/

.page_header,
.navigation_wrapper,
.navigation-main,
.brand,
.brand_name,
.search {

    margin: 0;
    padding: 0;
}

.page_header {

    display: block;
    width: 100%;
    height: 38px;
    /*padding-top: 0;*/
    margin-bottom: -38px;
    background-color: transparent;

    position: relative;
    z-index: 1;


}

/*  NAVIGATION  */


.navigation_wrapper {

    float: left;
    display: block;
    width: 475px;
    /*margin-left: -32px;*/
    padding-top: 11px;
    padding-left: 28px;

    /*border: 4px double black;*/
}

.navigation_item {

    list-style: none;
}

.navigation_link {

    text-decoration: none;
    color: inherit;
}


.navigation_link::before {

    position: absolute;

    content: "";
    display: block;
    width: 43px;
    height: 5px;
    /*margin-bottom: 100%;*/
    background-color: transparent;
    margin-bottom: 20px;
}
.navigation_link:hover:before{
    background-color: #54d154;
}
.navigation-main {

    font-size: 0;
    line-height: 0;
    vertical-align: top;
}

.navigation-main .navigation_item {

    display: inline-block;
    /*vertical-align: ;*/
    margin-right: 20px;
    font-size: 16px;
    line-height: 38px;
    font-family: "Proxima Nova Regular", sans-serif;
    text-transform: capitalize;

}
.navigation_item .navigation_link:hover {

    font-family: "Proxima Nova Bold", sans-serif;
    color: white;
}
.navigation-main .navigation_link {

    font-size: inherit;
    line-height: inherit;
    color: #ffffff;

}

.navigation-main .navigation_link:hover {

    color: white;
}

/* NAVIGATION  */


/* BRAND */

.brand {
    margin:0 auto;

    padding-top: 8px;
    width: 200px;
    font-size: 24px;
    font-family: "Nautilus Pompilius";
    vertical-align: top;
    color: #ffffff;
    text-align: center;
    /*border: 4px double black;*/

/*}*/

/*.brand_link {

    display: inline-block;
    vertical-align: center;
    text-decoration: none;
    color: inherit;
    /*margin-top: 6px;*/
    /*padding-top: 6px;*/
    /*line-height: 0;*/

/*}*/

/* SEARCH */
/*.toolsbar {

    position: relative;
    left: 730px;
    /*left: auto;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/

    /*white-space: nowrap;*/
    /*margin: 100px auto;*/
    /*margin-left: auto;*/
    /*width: 550px;*/

    /*height: 50px;*/
    /*border: 4px double black;*/


/*}*/

/*.search {*/

    /*position: absolute;*/
    /*right: 0;*/
    /*top: 5px;*/
    /*width: 179px;*/
    /*height: 27px;*/
    /*padding-top: 5px;*/

    /*margin-left: auto;*/
}
/*#search{
    width: 200px;
    height: 33px;
    background: #d9d7d6;
    border: none;
    opacity: 0.9;
    font-size: 16px;
    font-family: "Proxima Nova Light";
    padding-left: 10px;
    color: #1f2020;
    border-radius: 20px;

}
.search input#search::-webkit-input-placeholder {
    color: #65737e;
 }
.search input#search:-moz-placeholder {  Firefox18-
    color: #65737e;
}
.search input#search::-moz-placeholder {   Firefox19+
    color: #65737e;
}
.search input#search:-ms-input-placeholder {
    color: #65737e;
}
/*.search .icon_search {*/
    /*position: relative;*/
    /*top: 20px;*/
    /*bottom: 5%;*/

    /*border: 4px double black;*/
/*}*/


.search {
    float: right;
    display: block;
    position: relative;
    width: 180px;
    font-size: 16px;
    font-family: "Proxima Nova Bold";
    border: 0;
    outline: 0;
    background-color: transparent;


    border-radius: 33px;
    text-align: center;
    /*padding-right: 1px;*/


    /*background-color: #d9d7d6;*/
    /*opacity: 0.7;*/
    /*font-size: 12px;*/
    /*line-height: 27px;*/
    /*text-transform: uppercase;*/

    /*border: 4px double black;*/

/*}*/
.icon_search {
    position: absolute;
    left: 170px;
    top: 25px;
    color: #434343;
    z-index: 1;
}