/*Header*/

.page_header,
.navigation_wrapper,
.navigation-main,
.brand,
.brand a,
.brand_name,
.search {

    margin: 0;
    padding: 0;
}

.page_header {

    display: block;
    width: 100%;
    height: 38px;
    margin-bottom: -38px;
    background: inherit;
    box-shadow: inset 0 11px 35px -8px rgba(0, 0, 0, .68);

    background: linear-gradient(to top, transparent 70%,transparent 30%);

    position: relative;
    z-index: 1;
}
.page_header-sticky {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 11px 35px -8px rgba(0, 0, 0, .68);
    /*z-index: 10;*/
    transition: background-color 1s;
}

/*  NAVIGATION  */


.navigation_wrapper {

    float: left;
    display: block;
    width: 445px;
    margin: 0 15px;


}

.navigation_item {

    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation_link {

    text-decoration: none;
    color: inherit;
    display: block;
    border-top: 5px solid transparent;
}

.navigation_link:hover {
    border-top-color: #54d154;
}

.navigation-main {

    font-size: 0;
    line-height: 0;
    vertical-align: top;
    list-style: none;
}

.navigation-main .navigation_item {

    display: inline-block;
    /*vertical-align: ;*/
    margin-right: 20px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Proxima Nova Regular",sans-serif;
    text-transform: capitalize;

}

.navigation-main .navigation_item:last-child {

    margin-right: 0;
}

.navigation-main .navigation_link {

    font-size: inherit;
    line-height: inherit;
    color: #ffffff;

}

.navigation-main .navigation_link:hover {

    color: white;
}

/* NAVIGATION  */


/* BRAND */

.brand {
    margin:0 15px;
    float: left;
    padding-top: 8px;
    width: 160px;
    font-size: 24px;
    line-height: 24px;
    font-family: "Nautilus Pompilius";
    color: #ffffff;
    text-align: center;

}
.brand a {

    display: inline-block;
}


/* SEARCH */


.search {
    position: relative;
    float: right;
    display: block;
    width: 175px;
    margin: 0 15px;
    padding: 5px 0;
    opacity: 0.7;
}
.search input[type="search"] {

    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 33px;
    padding: 0 12px;


    font-family: "Proxima Nova Bold",sans-serif;
    font-size: 16px;
    line-height: 26px;

}
.icon_search {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    color: #434343;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

}
