.latestwork,
.latestwork_title,
.latestwork_description,
.latestwork_categories,
.latestwork_list,
.latestwork_photo{

    margin: 0;
    padding: 0;
}

.latestwork {

    padding-top: 30px;
    padding-bottom: 500px;
    text-align: center;
    display: block;
    background-color: #54d154;
    height: 350px;


    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 100%;*/
    /*height: 751px;*/


    /*padding-top: 41px;*/
    /*padding-bottom: 53px;*/
    /*text-align: center;*/

    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
    line-height: 24px;

    /*background-color: #54d154;*/
}
.latestwork .container {
    position: relative;
}
.latestwork_title{

    position: relative;

    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 26px;
    text-transform: uppercase;
    color: #207b20;
    /*border: 4px double black;*/
}
.latestwork_title::before {

    position: absolute;

    content: "";
    display: block;
    width: 44px;
    height: 2px;
    margin: 0 auto;
    background-color: #207b20;

    bottom: -14px;
    left: 0;
    right: 0;

}
.latestwork_description {

    color: #2b9b2b;
}

.latestwork_categories {
    font-size: 0;
    line-height: 0;
    margin-top: 60px;
}

.latestwork_filter {
    display: inline-block;
}

.latestwork_filter input[type="radio"] {
    display: none;
}

.latestwork_filter button {
    display: inline-block;
    padding: 0 12px;
    border: 1px solid #ebebeb;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'ProximaNovaRegular', sans-serif; /*ProximaNova Regular*/
    font-size: 18px;
    line-height: 38px;
    background-color: #ffffff;
    border-color: #2b9b2b;
    color: #2b9b2b;

}

.latestwork_filter button:hover {
    color: #ffffff;
    background-color: #2b9b2b;
}

.latestwork_filter .photo {
    border-radius: 20px 0 0 20px;
}

.latestwork_filter .print {
    border-radius: 0 20px 20px 0;
    margin-left: -6px;

}

.latestwork_photo,
.latestwork_project {
    display: block;
    list-style: none;
}

.latestwork_photo {
    padding-bottom: 45px;
    margin-left: 50px;
}

.latestwork_list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;

}

.projects_image {
    display: block;
    max-width: 100%;
    height: auto;
}


.latestwork_filter:nth-child(3) {
    display: inline-block;
    border-right: transparent;
    padding-left: 6px;
}
.latestwork_categories input[type="radio"] {

    display: none;
}

.latestwork_filter:hover span,
.latestwork_categories input[type="radio"]:checked + span {

    color: #ffffff;
    background-color: #2b9b2b;
    cursor: pointer;
}


.latestwork_list,
.latestwork_photo {

    display: block;
    list-style: none;
    margin-left: 123px;
    margin-top: 59px;
    float: left;
}

.latestwork_photo {

    position: relative;
    float: left;
    width: 162px;
    margin: 16px;
}
.btn-filter3 {
    /*position: absolute;*/
    width: 189px;
    height: 39px;
    border: 1px solid #2b9b2b;
    background-color: #2b9b2b;
    border-radius: 20px;
    color: white;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 16px;
    /*margin-top: 543px;*/
    /*padding-right: 15px;*/
    /*margin-left: 30px;*/
    cursor: pointer;

    position: absolute;
    bottom: -600px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btn-filter3:hover {
    background-color: white;
    color: #0b500b;
}
.btn-filter3,
.fa-arrow-right {
    padding-left: 10px;

}
