 /*  LAYOUT  */

html, body {

    min-width: 1170px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;

}

html {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

}

.container {

    width: 1170px;
    margin-left: auto;
    margin-right: auto;


}

.clearfix::before,
.clearfix::after {

    content: "";
    display: table;
    width: 100%;

}

.clearfix::after {

    clear: both;

}

.page_header {

    display: block;
    margin: 0;
    padding: 0;

}

.visually-hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);

}

/*  /LAYOUT  */

/*  BUTTON  */

.btn {

    display: inline-block;

    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;

}

.btn-middle {

    width: 210px;
    border-radius: 20px;

    background-color: #54d154;


    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;

}


/*.btn-action,
.btn-filter {

    width: 170px;
    border-radius: 33px;
    border-bottom: 32px solid #54d154;

    background-color: white;
    color: #ffffff;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 47px;
    text-transform: uppercase;
    text-align: center;

}
  /* BUTTON*/