 /*  LAYOUT  */

html, body {

    min-width: 1140px;
    width: 100%;
    margin: 0;
    padding: 0;
    /*border: none;*/
    background-color: #ffffff;
    color: #000000;

}

html {

    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 28px;

}

.container {
    width: 1200px;
    margin: 0 auto;

    /*width: 1140px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/


}

.clearfix::before,
.clearfix::after {

    content: "";
    display: table;
}

.clearfix::after {

    clear: both;

}

.page_header {

    display: block;
    margin: 0;
    padding: 0;

}

.visually-hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);

}

/*  /LAYOUT  */

/*  BUTTON  */

.btn {

    display: inline-block;

    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

.btn-middle {

    width: 210px;
    border-radius: 20px;

    background-color: #54d154;


    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;

}


