 /*PAGE CONTENT*/

 .page_content,
 .presentation {
     margin: 0;
     padding: 0;
 }

 .page_content {

     display: block;
     width: 100%;
     height: 100%;



 }

 .presentation {

     position: relative;
     width: 100%;
     height: 100%;
 }

 .presentation_wrapper {
     position: relative;
     width: 100%;
     height: 100%;
     background-image: url("../img/background1.jpg");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;

 }

 .presentation_title {

     position: static;

     line-height: 640px;
     text-align: center;
     /*font-family: "Montserrat";*/
     font-size: 55px;
     /*margin-top: 292px;*/
     /*margin-left: 325px;*/
     color: #ffffff;

 }

 .btn-middle {

     width: 210px;
     border-radius: 33px;
     text-align: center;
     background-color: #54d154;
     font-size: 14px;
     line-height: 50px;
     text-transform: uppercase;




 }

.btn .btn-middle {
    position: center;
    margin-top: 253px;
    margin-left: 277px;
}
