 /*PAGE CONTENT*/

 .page_content,
 .presentation,
 .presentation_wrapper {
     margin: 0;
     padding: 0;
 }

 .page_content {

     display: block;
     width: 100%;
     height: 100%;



 }

 /*.presentation {*/

     /*position: relative;*/
     /*width: 100%;*/
     /*height: 659px;*/
 /*}*/

 .presentation_wrapper {
     position: relative;
     width: 100%;
     height: 735px;
     background-color: #cfcece;
     background-image: url("../img/background1.jpg");
     background-repeat: no-repeat;
     background-position: center top;
     background-size: cover;

 }

 .presentation_title {

     position: absolute;
     width: 676px;
     height: 60px;
     left:25%;
     top:36%;
     font-family: "Montserrat", Bold;
     font-size: 55px;
     color: #ffffff;
 }

 .btn-middle {


     position: absolute;
     width: 210px;
     left: 42%;
     bottom: 37%;
     border-radius: 33px;
     text-align: center;
     background-color: #54d154;
     font-size: 22px;
     line-height: 50px;
     text-transform: uppercase;
     color: white;
     font-family: "Proxima Nova Regular";
     /*color: white;*/
 }

/*.btn_scroll {*/
    /*position: relative;*/
    /*padding-top: 253px;*/
    /*margin-left: 277px;*/
/*}*/
.btn_scroll_down {
    position: absolute;
    width: 120px;
    height: 27px;
    bottom: 15px;
    left: 600px;

    border-radius: 33px;
    text-align: center;
    padding-right: 15px;

    background-color: #d9d7d6;
    opacity: 0.7;
    font-size: 12px;
    line-height: 27px;
    text-transform: uppercase;
}

.presentation_wrapper .icon_arrow {
    position: relative;
    /*top: 20px;*/
    bottom: 5%;
    border: 4px double black;
}

 .icon_arrow-down {
     position: absolute;
     height: 3px;
     bottom: 50%;
     color: red;
     left: 170px;
     top: 25px;
     /*color: #434343;*/
     z-index: 1;
 }
