 /*PAGE CONTENT*/

 .page_content,
 .presentation,
 .presentation_wrapper {
     margin: 0;
     padding: 0;
 }

 .page_content {

     display: block;
     /*width: 100%;*/
     height: 100%;
 }


 .presentation_wrapper {
     position: relative;
     width: 100%;
     height: 735px;
     background-color: #cfcece;
     background-image: url("../img/background1.jpg");
     background-repeat: no-repeat;
     background-position: center top;
     background-size: cover;

 }

 .presentation_title {

     width: 100%;
     text-align: center;
     position: absolute;
     height: 60px;
     top:36%;
     font-family: "Montserrat Bold", sans-serif;
     font-size: 55px;
     color: #ffffff;
 }

 .btn-middle {

     position: absolute;
     width: 210px;
     left: 42%;
     bottom: 37%;
     border-radius: 33px;
     text-align: center;
     background-color: #54d154;
     font-size: 22px;
     line-height: 50px;
     text-transform: uppercase;
     color: white;
     font-family: "ProximaNova-Regular", sans-serif;
      }

 .btn-middle:hover {
     background-color: white;
     color: #207b20;
 }

  .scroll {
     position: relative;
     left: 50%;
     transform: translate(-50%, -50%);
     top: 95%;
 }

 button.scroll_down {
     position: absolute;
     width: 120px;
     border-radius: 15px;
     background-color: rgba(255,255,255,0.5);
     color: #444444;
     font-family: 'ProximaNova-Light', sans-serif; /*ProximaNova Light*/
     font-size: 16px;
     line-height: 27px;
     text-transform: lowercase;
     text-align: center;
     left: 0;
     right: 0;
     margin: 0 auto;
 }

 button.scroll_down:hover {
     color: #ffffff;
     background-color: #54d154;
 }