.page_footer,
.summary,
.container,
.summary_block_about,
.summary_title,
.social_network,
.summary_block_posts,
.summary_title,
.posts_list,
.summary_item,
.summary_block_contact,
.summary_title,
.address,
.massmedia,
.massmedia_title,
.massmedia_list,
.massmedia_item {

    margin: 0;
    padding: 0;
}

.page_footer {
    display: block;
    width: 100%;
    background-color: #333333;
    padding-top: 30px;
}



.summary {
    display: block;
    /*float: left;*/
    /*width: 3px;*/

}
.summary_block_about {
    display: block;
    float: left;
    width: 312px;
    text-align: center;
    right: 32px;

}
.summary_title {
   text-align: center;
   font-family: "Montserrat Light", sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: white;
    position: relative;
}
.summary_title::before {

    position: absolute;

    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #ffffff;

    bottom: -14px;
    left: 0;
    right: 0;
}
.summary_description {
    color: white;
    font-family: "Proxima Nova Regular",sans-serif;
    font-size: 16px;
}
.social_network2 {
    width: 85px;
    height: 31px;
    border: 1px solid #ffffff;
    background-color: white;
    border-radius: 20px;
    padding-top: 6px;
    box-sizing: border-box;
    margin-left: 105px;
    margin-top: 4px;


}

.summary_block_posts {
    margin:0 auto;
}
.posts_list {
    list-style: none;
}

.summary_link {
    text-decoration: none;
    color: white;
}
.summary_block_contact {
    display: block;
    float: right;
    width: 312px;
    text-align: center;

    /*right: 32px;*/
}
