.team,
.team-title,
.team-title,
.team-list,
.team-photo,
.photo,
.photo-img,
.photo-name,
.photo-name_name,
.work_button {
    margin: 0;
    padding: 0;
}

.team {
    display: block;
    width: 100%;
    height: 475px;
    background-color: #54d154;
    padding-top: 37px;
    font-family: "Montserrat Light", sans-serif;
    text-align: center;
    border-bottom: 92px solid #3eba3e;


}
.team-title {
    position: relative;

    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 26px;
    text-transform: uppercase;
    color: #207b20;

    /*border: 4px double black;*/
}
.team-title::before {

    position: absolute;

    content: "";
    display: block;
    width: 44px;
    height: 2px;
    margin: 0 auto;
    background-color: #207b20;

    bottom: -14px;
    left: 0;
    right: 0;

}
.team_description {

    color: #2b9b2b;
}
/*.team_filter {

    display: inline-block;
    margin: 0 5px;

    font-family: "Proxima Nova Regular", sans-serif;
    /*font-weight: 300;*/
    /*font-size: 16px;*/
    /*line-height: 37px;*/
    /*text-transform: capitalize;*/
    /*color: #2b9b2b;*/
    /*border-right: 1px solid #2b9b2b;*/
    /*padding-right: 7px;*/


/*}*/
.team-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    /*position: relative;*/

}
.photo {
    position: relative;
}
.photo::before {
    position: absolute;

    content: "";
    display: block;
    width: 3px;
    height: 79px;
    margin: 0 auto;
    background-color: #207b20;

    top: 134px;
    left: 0;
    right: 0;
}
.photo-name {
    padding-top: 98px;
    color: white;

}
.social_network {
    display: block;

    width: 85px;
    height: 28px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #c5e9c5;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    /*display: block;*/
    /*width: 85px;*/
    /*height: 31px;*/
    /*border: 1px solid #ffffff;*/
    /*background-color: white;*/
    /*border-radius: 50px;*/
    /*padding-top: 6px;*/
    /*box-sizing: border-box;*/
    /*margin-right: -10px;*/
    /*margin-top: 5px;*/
    /*margin: 0 auto;*/

}
.btn-action {
    position: absolute;
    width: 210px;
    left: 0;
    right: 0;
    border-radius: 33px;
    text-align: center;
    background-color: #54d154;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    color: white;
    font-family: "Proxima Nova Regular";
    color: white;
    margin: -70px auto;

}
.btn-action:hover {
    background-color: white;
    color: #207b20;

}