.testimonials,
.container,
.testimonials-title,
/*.testimonial-client {*/
.testimonials_content,
.herp,
.herp_name,
.herp_info {
    margin: 0;
    padding: 0;
}

.testimonials {
    display: block;
    width: 100%;
    padding-top: 43px;
    padding-bottom: 260px;

    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: white;
}

.testimonials-title {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 26px;
    text-transform: uppercase;
    color: #828181;
}

.testimonials-title::before {

    position: absolute;

    content: "";
    display: block;
    width: 44px;
    height: 2px;
    margin: 0 auto;
    background-color: #828181;
    bottom: -14px;
    left: 0;
    right: 0;
}

.testimonials_description {

    text-align: center;
    margin-bottom: 73px;
    color:#b7b3b3;
}



.testimonials_content {
    font-family: 'ProximaNovaRegular', sans-serif; /*ProximaNova Regular*/
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    color:#444444;
}

.herp {
    display: block;
    width: 190px;
    top: 0;
    left:0;
    right: 0;
    margin: 0 auto;
    padding-top: 15px;

}

.herp-1,
.herp-2,
.herp-3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.herp_name {

    display: inline-block;
    vertical-align: top;

    font-family: 'ProximaNovaRegular', sans-serif; /*ProximaNova Regular*/
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    left:400px;

    color:#444444;
}

.herp_info {

    display: inline-block;
    position: absolute;
    left: 0;

    margin-top: 25px;
    margin-left: 230px;
    text-align: left;
    font-family: 'ProximaNovaBold', sans-serif; /*ProximaNova Bold*/
    font-size: 16px;
    line-height: 28px;
    color:#cccccc;
}
/*   /TESTIMONIALS-*/

/* SLIDER*/
.slider {

    position: relative;
    width: 100%;
    height: 300px;
    border: none;

}

.slider_switch {
    display: none;
}

.slider_wrapper {

    position: relative;
    width: 100%;
    height: 100%;
    border: none;

}

.slider_content {

    position: relative;
    height: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    color: #ffffff;

}

.slider_slide {

    list-style: none;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 0.5s;

}

#slide-01:checked ~ .slider_wrapper .slider_slide-01,
#slide-02:checked ~ .slider_wrapper .slider_slide-02,
#slide-03:checked ~ .slider_wrapper .slider_slide-03 {

    z-index: 1;
    opacity: 1;

}

.slider_indicators {

    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;

    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    text-align: center;

}


#slide-01:checked ~ .slider_wrapper label[for="slide-01"],
#slide-02:checked ~ .slider_wrapper label[for="slide-02"],
#slide-03:checked ~ .slider_wrapper label[for="slide-03"],
#slide-04:checked ~ .slider_wrapper label[for="slide-04"],
#slide-05:checked ~ .slider_wrapper label[for="slide-05"] {

    border-color: #d3c1ad;
    background-color: transparent;

}

.no-js .slider_btn {

    display: none;

}

.slider_btn {

    position: absolute;
    top: 50%;
    /*transform: translateY(-50%);*/

    width: 50px;
    height: 50px;
    border: none;
    outline: none;

    background-color: transparent;
    color: #e0dfdf;
    /*opacity: 0.5;*/

    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

}

.slider_btn::before {

    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;

}

.slider_btn:hover {
    color: #000000;
}

.slider_btn-prev {

    left: 130px;

}

.slider_btn-next {

    right: 130px;

}

@media only screen  and (min-width: 1400px) {

    .slider_btn-prev {

        left: calc((100vw - 1200px) / 4);
        margin-left: -50px;

    }

    .slider_btn-next {

        right: calc((100vw - 1200px) / 4);
        margin-right: -50px;

    }

}
/*  /SLIDER*/




/*.testimonials_1 {
    display: inline-block;
    position: relative;
    margin-left: 35%;
    width: 496px;
    text-align: center;
    color: #444444;
}

.testimonial-client {
     display: block;
    position: absolute;
    width: 206px;
    height: 58px;
    margin-left: 374px;
    margin-top: 30px;
    /*border: 4px double black;*/
/*}
.avatar-client {
    display: inline-block;
    float: left;
}

.name-client {
    display: inline-block;
    float: left;
    list-style: none;
    padding-left: 10px;
    line-height: 18px;
    padding-top: 6px;
    color: #444444;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 16px;

}
.position-client {
    display: inline-block;
    float: right;
    padding-right: 27px;
    list-style: none;
    line-height: 23px;
    color: #cccccc;
    font-family: "Proxima Nova Bold",sans-serif;
    font-size: 16px;
    /*border: 4px double black;*/

/*}*/