.testimonials,
.container,
.testimonials-title,
.testimonial-client {
    margin: 0;
    padding: 0;
}

.testimonials {
    display: block;
    padding-top: 43px;
    padding-bottom: 460px;

    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
    line-height: 24px;

    background-color: white;
}

.testimonials-title {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 26px;
    text-transform: uppercase;

    color: #828181;
}
.testimonials-title::before {

    position: absolute;

    content: "";
    display: block;
    width: 44px;
    height: 2px;
    margin: 0 auto;
    background-color: #828181;

    bottom: -14px;
    left: 0;
    right: 0;
}

.latestwork_description {

    text-align: center;

    margin-bottom: 73px;
    color: #b7b3b3;
}